<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Open Slots</mat-card-title>
      <br />
    <div class ="all">
      <div class ="div1">
          <mat-card-content >Total Slots</mat-card-content>
          <mat-card-content >1520</mat-card-content>
      </div>
       
          <mat-divider vertical style="height:70px"></mat-divider>
      <div class ="div2">    
          <mat-card-content>Occupied</mat-card-content>
           <mat-card-content>900</mat-card-content>
      </div>

           <mat-divider vertical style="height:70px" ></mat-divider>
       <div class ="div3">    
          <mat-card-content >Available</mat-card-content>
           <mat-card-content>620</mat-card-content>
      </div>
          <mat-divider vertical style="height:70px" ></mat-divider>
    </div>
    </mat-card-header>
  </mat-card>
</div>
